<!DOCTYPE html>
<html ng-app='redditVideo'>

<head>
    <meta charset="utf-8" />
    <title>redditTube</title>
    <link rel="stylesheet" type="text/css" href="assets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body ng-controller="VideoController">

    <nav>
        <img src="/assets/redditVideoLogo.png" id="logo">
        <ng-submit ng-click="change()">
            <input type="submit" id="submit" value=" create playlist " />
        </ng-submit>
        <img src="/assets/shuffle.png" ng-click="shuffle()" id="shuffle" >
        <select ng-model="selectedSortBy" ng-options="b for b in sortBy">
            <option value="">sort by</option>
        </select>
        <select ng-model="selectedPeriod" ng-options="p for p in timePeriods">
            <option value="">age</option>
        </select>
        <select ng-model="selectedSubreddit" ng-options="s for s in subreddits">
            <option value="">subreddit</option>
        </select>
    </nav>

    <img src="/assets/spinner.gif" ng-show="loading" id="spinner">

    <youtube-video video-id="currentVid.id" player-width=" '720px' " player-height=" '406px' "></youtube-video>
    <p ng-show="videoList" class="ng-cloak vidList title">{{ currentVid.title }}</p>
    <a ng-show="videoList" class="ng-cloak vidList" ng-href="{{ currentVid.link }}" target="_blank">Found on /r/{{ currentVid.subreddit }}</a>
    </br>
    <div ng-view ng-show="videoList" class="ng-cloak vidList">
        <div ng-repeat="video in videoList" ng-click="play(video)">

            <div class="listContainer">
                <div class="imgBox">
                    <img src="{{ video.thumb }}">
                </div>

                <div class="infoBox">
                    <p>{{ video.title }}</p>
                    <p><a ng-show="videoList" class="ng-cloak vidList" ng-href="{{ currentVid.link }}" target="_blank">from /r/{{ currentVid.subreddit }}</a></p>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/bower_components/underscore/underscore.js"></script>
    <script type="text/javascript" src="/bower_components/angular-youtube-mb/src/angular-youtube-embed.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>

</body>

</html>
