<!DOCTYPE html>
<html ng-app='redditVideo'>

<head>
    <meta charset="utf-8" />
    <title>redditVideo</title>
    <link rel="stylesheet" type="text/css" href="assets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body ng-controller="VideoController">

    <nav>
        <img src="/assets/redditVideoLogo.png" id="logo">
    </nav>

    <img src="/assets/spinner.gif" ng-show="loading" id="spinner">


    <youtube-video video-id="currentVid.id" player-width=" '720px' " player-height=" '400px' "></youtube-video>
    <!-- <iframe width="720" height="400" src="{{ srcString }}" frameborder="0" allowfullscreen ng-show="videoList" class="ng-cloak vidList"></iframe> -->
    <p ng-show="videoList" class="ng-cloak vidList">{{ currentVid.title }}</p>
    <a ng-show="videoList" class="ng-cloak vidList" ng-href="{{ currentVid.link }}"" target="_blank">Found on /r/{{ currentVid.subreddit }}</a>

    <div ng-view ng-show="videoList" class="ng-cloak vidList">
        <div ng-repeat="video in videoList" ng-click="play(video)">

            <div class="listContainer">
                <div class="imgBox">
                    <img src="{{ video.thumb }}">
                </div>

                <div class="infoBox">
                    <p>{{ video.title }}</p>
                    <p><a ng-show="videoList" class="ng-cloak vidList" ng-href="{{ currentVid.link }}"" target="_blank">Found on /r/{{ currentVid.subreddit }}</a></p>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
    <script type="text/javascript" src="/bower_components/angular-youtube-mb/src/angular-youtube-embed.js"></script>
</body>

</html>
