.ng-cloak {
    display: none !important;
}
.title {
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
}
body {
    margin: auto;
    width: 720px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 100;
}
nav {
    display: block;
    height: 70px;
    width: 720px;
    padding-top: 10px;
    
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#logo {
    display: block;
    height: 59px;
    width: 84px;
}
youtube-video {
  padding: 5px;
}

#spinner {
    padding-top: 75px;
    height: 145px;
    width: 220px;
    display: block;
    margin: 0 auto;
}
.vidList {
    width: 720px;
    padding-top: 10px;
}
.listContainer {
    width: 710px;
    height: 120px;
    display: block;
    padding-top: 10px;
    padding-right: 10px;
}
div.listContainer:hover {
    background-color: #f9f9f9;
}
.imgBox {
    height: 120px;
    width: 120px;
    display: block;
    float: left;
    position: relative;
}
.infoBox {
    height: 120px;
    width: 550px;
    display: inline-block;
    float: right;
    position: relative;
}
